<h1>{{title}}</h1>

<ul>
{{#programs}}
    <li>
        <ul>
            <li><strong>Title</strong> <a href="/programs/show">{{title}}</a></li>
            <li><strong>Description</strong> {{description}}</li>
            <li><strong>Starts At</strong> {{starts_at}}</li>
            <li><strong>Ends At</strong> {{ends_at}}</li>
            <li><strong>Inherits From</strong> {{inherits_from}}</li>
            <li><strong>Inherits State</strong>  {{inherits_state}}</li>
        </ul>
    </li>
{{/programs}}
</ul>